.main-header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  background-color: var(--primary-white-color);
}
